<div class="news-modal" id="newsModal" aria-hidden="true">
  <div class="news-modal__backdrop" data-modal-close="true"></div>
  <div class="news-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="newsModalTitle">
    <button type="button" class="news-modal__close" aria-label="Close" data-modal-close="true"><i class="fas fa-times"></i></button>
    <div class="news-modal__content"></div>
  </div>
</div>

<div id="search-help-tooltip-popup" class="search-help-tooltip-popup" role="tooltip" aria-hidden="true">
  <span class="search-help-tooltip-title">Search help</span>
  <span class="search-help-tooltip-line">Breaking news, threat intel, malware</span>
  <span class="search-help-tooltip-line">IOCs, threat actors, APT reports</span>
</div>
